.maincont
    %h3= "List of Doctors for Department: #{@department.name}"
    %table
        - if @doctors.count>0
            %tr
                %th
                    ="SN"
                %th
                    ="FullName"
                %th
                    = ""
            = render :partial => "list", :collection => @doctors
        - else
            ="Doctors list is empty."
    = link_to "Create New", new_department_doctor_path(@department)
